.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.passage1 {
    padding: 9rem;
}

.passage2 {
    min-height: 600px;
    background-repeat: no-repeat;
}

.fifth {
    background-image: url(../assets/images/desktop/image-graphic-design.jpg);
}

.sixth {
    background-image: url(../assets/images/desktop/image-photography.jpg);
}