.navbar {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.logo {
    width: 10rem;
}

.links {
    display: flex;
    gap: 3rem;
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
}

.contact-btn {
    color: var(--very-dark-desaturated-blue);
    background-color: var(--white);
    padding: 1em 2em;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    border-radius: 2em;
    transition: 0.3s ease;
}

.contact-btn:hover {
    color: var(--white);
    background-color: var(--footer)
}

.hamburger {
    display: none;
}