@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/* Primary */
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--graphic-design-text: hsl(167, 40%, 24%);
--photography-text: hsl(198, 62%, 26%);
--footer: hsl(168, 34%, 41%);
/* Neutral */
--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);

/* Typography */
font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: hsl(0, 0%, 95%);
}

.App {
 max-width: 1440px; 
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 background-color: hsl(0, 0%, 100%);
}